
#intro{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url('../image/bg-masthead (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
.content{
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
}
#demo{
    height: 100vh;
   background:  linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
            color: white;
            margin-bottom: 7rem;
        }
    }
}
header{
    position: fixed;
    width: 100%;
        top: 0px;
    .navigation{
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        ul{
            li{
                list-style: none;
                display: inline-block;
                padding-left: 2rem;
            }
        }
    }
   
}
#shoreline{
  
    .content{
        display: flex;
        align-items: center;
        text-align: center;
        p{
           text-align: left;
        }
        .shoreline2-info, .shoreline3-info{
            background-color: black;
            
            h1{
                color: white;
            }
            p{
                color: gray;
            }
        }
    }
    .shoreline-wrapper{
        margin-top: 10%;
        background-color: black;
    }
}
#contact{
    .contact-box{
        border: 2px solid cadetblue;
        padding: 2rem 3rem;
    }
}